{% extends "base.html" %}

{% block content %}
<div class="container mt-7">
    <div class="container mt-4">
        <h1>Students Enrolled in Course {{ course_id }}</h1>
        <a href="{{ url_for('dashboard', username=session['username']) }}" class="btn btn-secondary mt-4">Back to Dashboard</a>
    </div>

    <!-- Students Section -->
    <h3 class="mb-4 mt-4">Enrolled Students</h3>
    <div class="list-group">
        {% for student in students %}
            <a href="#" class="list-group-item list-group-item-action">
                {{ student.Student_Name }} (ID: {{ student.Student_ID }})
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
